@charset "UTF-8";
@import '../css/reset.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2.6666666667vw;
}

body {
  position: relative;
  background-color: #fff;
  font-family: "FP-こぶりなゴシック StdN W6", "FP-KoburinaGoStdN-W6", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #2d2d2d;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  font-smoothing: antialiased;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Common */
a {
  text-decoration: none;
  outline: 0 solid transparent;
  color: #2d2d2d;
  transition: all 0.3s;
}
a.btn {
  display: block;
  position: relative;
  width: 56.8115%;
  height: 2.5714em;
  margin: 0 auto;
  border-radius: 1.2857em;
  font-size: 0.875em;
  line-height: 2.5714em;
  text-align: center;
}
a.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 1.2857em;
  transform: translateY(-50%);
  width: 1.3em;
  height: 1em;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
a.more {
  background-color: #fff;
  border: 1px solid #ebebeb;
  color: #e9400b;
}
a.more::after {
  background-image: url("../img/icon_arrow-orn.svg");
}
a.more:hover {
  background-color: #e9400b;
  border: 1px solid #e9400b;
  color: #fff;
}
a.more:hover::after {
  background-image: url("../img/icon_arrow-wht.svg");
}
a.shop {
  width: 100%;
  background-color: #e9400b;
  border: 1px solid #e9400b;
  color: #fff;
}
a.shop::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.1rem;
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  background-image: url("../img/icon_store-wht.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
a.shop::after {
  background-image: url("../img/icon_arrow-wht.svg");
}
a.shop:hover {
  background-color: transparent;
  border: 1px solid #e9400b;
  color: #e9400b;
}
a.shop:hover::before {
  background-image: url("../img/icon_store-orn.svg");
}
a.shop:hover::after {
  background-image: url("../img/icon_arrow-orn.svg");
}

.grecaptcha-badge {
  visibility: hidden;
}

.drawer--top button.drawer-hamburger {
  position: fixed;
  top: 1.7rem;
  right: 2.2rem;
  width: 3rem;
  height: 2.5rem;
  padding: 0;
  z-index: 4;
}
.drawer--top button.drawer-hamburger .drawer-hamburger-icon {
  height: 0.1rem;
  margin-top: 0;
  background-color: #e9400b;
  border-radius: 0.05rem;
}
.drawer--top button.drawer-hamburger .drawer-hamburger-icon::before {
  top: -0.5em;
  height: 0.1rem;
  background-color: #e9400b;
  transition: all 0.5s;
}
.drawer--top button.drawer-hamburger .drawer-hamburger-icon::after {
  top: 0.5em;
  height: 0.1rem;
  background-color: #e9400b;
  transition: all 0.5s;
}
.drawer--top nav.drawer-nav {
  width: 100%;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.6s;
  padding-top: 5.4rem;
  background-color: transparent;
  pointer-events: none;
}
.drawer--top nav.drawer-nav .drawer-menu {
  background-color: #fff;
}
.drawer--top nav.drawer-nav .drawer-menu li {
  padding: 0.5rem 3rem;
  border-bottom: 1px solid #ebebeb;
}
.drawer--top nav.drawer-nav .drawer-menu li a {
  display: block;
  position: relative;
  line-height: 4em;
  letter-spacing: 0.1em;
}
.drawer--top.drawer-open button.drawer-hamburger {
  right: 2.2rem;
}
.drawer--top.drawer-open button.drawer-hamburger .drawer-hamburger-icon {
  background-color: transparent;
}
.drawer--top.drawer-open button.drawer-hamburger .drawer-hamburger-icon::after {
  top: 0;
}
.drawer--top.drawer-open button.drawer-hamburger .drawer-hamburger-icon:before {
  top: 0;
}
.drawer--top.drawer-open nav.drawer-nav {
  opacity: 1;
  z-index: 3;
  pointer-events: all;
}
.drawer--top.drawer-open .drawer-overlay {
  background-color: #fff;
}

.logo {
  display: block;
}
.logo dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo dl dt {
  width: 15.4929%;
}
.logo dl dd {
  width: 80.2816%;
}

.inner {
  width: calc(100% - 3rem);
  margin: 0 auto;
}
.inner .page-header {
  position: relative;
  width: 100%;
  height: 53.8666vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
}
.inner .page-header h2 {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  font-size: 1.125em;
  letter-spacing: 0.1em;
  color: #fff;
}

.section {
  padding: 2.125em 0;
}
.section h1 {
  font-size: 1.75em;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}
.section h1 span {
  display: block;
}
.section h3 {
  margin-bottom: 2rem;
  font-size: 1.5em;
  line-height: 1.25em;
  letter-spacing: 0.1em;
}
.section p {
  font-size: 0.875em;
  line-height: 1.8571em;
  letter-spacing: 0.15em;
}
.section p + p {
  margin-top: 1.8571em;
}
.section p.text {
  padding-left: 0.5rem;
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
.section p.text a {
  text-decoration: underline;
  color: #448ad3;
}
.section .inner .video {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0px;
  position: relative;
  margin-top: 3rem;
}
.section .inner .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.section .section-title {
  position: relative;
  font-size: 1.125em;
  color: #e9400b;
  margin-top: 1.2rem;
  letter-spacing: 0.15em;
}
.section .section-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: -1rem;
  background-image: url("../img/asterisk.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.section .products-list li {
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
}
.section .products-list li + li {
  margin-top: 3rem;
}
.section .products-list li img {
  height: calc(100vw - 7.2rem);
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .products-list li figcaption {
  margin-top: 2rem;
}
.section .products-list li figcaption dt {
  margin-bottom: 1rem;
  font-size: 1.125em;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  color: #2d2d2d;
}
.section .products-list li figcaption dt span {
  display: block;
  font-size: 0.7777em;
}
.section .products-list li figcaption dd {
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: #555;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 5.4rem;
  top: 0;
  z-index: 2;
}
header .header-logo {
  width: 41.1594%;
  margin-top: 1.7rem;
}

main {
  position: relative;
  z-index: 1;
  margin-top: 5.4rem;
  padding-top: 1rem;
}

footer {
  padding-top: 2.125em;
  padding-bottom: 1.25em;
}
footer .inner {
  position: relative;
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  letter-spacing: 0.15em;
}
footer .inner .pr-box {
  padding: 1.8rem 2.7rem;
  background-color: #faf8f2;
  border-radius: 1rem;
}
footer .inner .news .rss-box ul.rss-list {
  margin: 1.5em 0 2em;
}
footer .inner .news .rss-box ul.rss-list li.item + li {
  margin-top: 3rem;
}
footer .inner .news .rss-box ul.rss-list li.item:nth-child(n+4) {
  display: none;
}
footer .inner .news .rss-box ul.rss-list li.item a {
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.15em;
}
footer .inner .news .rss-box ul.rss-list li.item a .rss-date {
  margin-bottom: 1rem;
  font-size: 0.75em;
  color: #000;
}
footer .inner .news .rss-box ul.rss-list li.item a .rss-title {
  font-size: 0.875em;
  text-decoration: underline;
}
footer .inner .news .rss-box ul.rss-list li.item a:hover .rss-date,
footer .inner .news .rss-box ul.rss-list li.item a:hover .rss-title {
  color: #e9400b;
}
footer .inner .footer-logo {
  width: 68.4057%;
  margin-top: 2.25em;
}
footer .inner .ft-menu li + li,
footer .inner .sns-menu li + li {
  margin-top: 2rem;
}
footer .inner .ft-menu li a,
footer .inner .sns-menu li a {
  font-size: 0.875em;
}
footer .inner .ft-menu li a:hover,
footer .inner .sns-menu li a:hover {
  color: #e9400b;
}
footer .inner .ft-menu {
  margin: 1.625em 0 0;
}
footer .inner .sns-menu {
  margin: 2rem 0 2.25em;
}
footer .inner .copyright {
  font-size: 0.6875em;
  line-height: 1.6363em;
  color: #8b8b8b;
}
footer .inner .copyright span {
  display: block;
}

/* front-page */
.toppage .carousel li {
  display: none;
}
.toppage .mv {
  margin-bottom: 8rem;
  padding: 0;
}
.toppage .mv .mv-inner {
  position: relative;
}
.toppage .mv .mv-inner .carousel {
  height: 66.66vw;
}
.toppage .mv .mv-inner .bx-wrapper {
  margin-bottom: 0;
  border: 0;
  box-shadow: none;
}
.toppage .mv .mv-inner .bx-wrapper .bx-viewport .carousel li {
  display: block !important;
}
.toppage .mv .mv-inner .bx-wrapper .bx-controls {
  display: none;
}
.toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-prev,
.toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
  display: block;
  position: absolute;
  top: auto;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  background: none;
  background-color: #e9400b;
  z-index: 0;
}
.toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-prev::before,
.toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-next::before {
  content: "";
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.521rem;
  height: 0.787rem;
  background-image: url("../img/icon_angle.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
  left: auto;
  right: 2.1rem;
}
.toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-prev::before {
  transform: translate(-50%, -50%) rotate(180deg);
}
.toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
  right: 0;
}
.toppage .mv .mv-inner h1 {
  position: absolute;
  bottom: -11rem;
  left: 1.4rem;
  margin-bottom: 0;
}
.toppage .concept {
  padding: 5.7rem 0;
  background-image: url("../img/bg-bread-sp.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .toppage .concept {
    background-image: url("../img/bg-bread-sp@2x.png");
  }
}
.toppage .concept p {
  color: #fff;
}
.toppage .products-list {
  margin: 3rem auto;
}
.toppage .kodawari-summary dd,
.toppage .kodawari-list p,
.toppage .roots-list p {
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 0.875em;
  line-height: 2em;
  letter-spacing: 0.15em;
  color: #555;
}
.toppage .kodawari-list li,
.toppage .roots-list li {
  display: flex;
  flex-flow: column;
  margin-top: 3rem;
}
.toppage .kodawari-list li h3,
.toppage .roots-list li h3 {
  margin-bottom: 1rem;
  font-feature-settings: "palt";
  letter-spacing: 0.15em;
}
.toppage .kodawari-list li .image,
.toppage .roots-list li .image {
  margin-top: 1em;
}
.toppage .kodawari-list li .image img,
.toppage .roots-list li .image img {
  height: 32vw;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.toppage .kodawari {
  background-color: #faf8f2;
}
.toppage .kodawari .kodawari-summary {
  margin-top: 3rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 2rem;
}
.toppage .kodawari .kodawari-summary dt {
  margin-bottom: 0.3333em;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 0.15em;
}
.toppage .kodawari .kodawari-summary dt span {
  display: block;
}
.toppage .roots-list li + li {
  margin-top: 5rem;
}

/* sub-page */
#About .page-header {
  background-image: url("../img/page-header-about.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #About .page-header {
    background-image: url("../img/page-header-about@2x.jpg");
  }
}
#About .concept .btn {
  width: 86.9565%;
  margin-bottom: 1.5rem;
  margin-top: 5rem;
}
#About .list li {
  font-size: 0.875em;
  line-height: 1.5em;
  letter-spacing: 0.15em;
}
#About .overview {
  background-color: #faf8f2;
  display: block;
  align-items: center;
}
#About .overview .section-title {
  margin-left: 4.4rem;
}
#About .overview .overview-list {
  width: calc(100% - 3rem);
  margin: 1em auto 0;
  color: #555;
}
#About .overview .overview-list + ul {
  margin-top: 1.375em;
}
#About .overview .overview-list li + li {
  margin-top: 1.5em;
}
#About .overview .overview-list li dl {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-gap: 0 2rem;
}
#About .overview .overview-list li dl dt {
  text-align: right;
}
#About .overview .overview-list li dl dd {
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
#About .history .history-list {
  margin-top: 1.5em;
}
#About .history .history-list + ul {
  margin-top: 1em;
}
#About .history .history-list li + li {
  margin-top: 1rem;
}
#About .history .history-list li dl {
  display: flex;
  align-items: center;
}
#About .history .history-list li dl dt {
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 1rem;
  padding: 0.6rem 0.2rem 0.4rem 0.4rem;
  border: 1px solid #ebebeb;
  font-size: 0.75em;
  line-height: 1.2em;
  text-align: center;
  color: #e9400b;
}
#About .history .history-list li dl dt span {
  display: block;
  font-size: 0.8571em;
}
#About .history .history-list li dl dd {
  width: calc(100% - 5.4rem);
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
#About .introduce {
  padding: 0;
}
#About .introduce ul {
  margin-top: 3rem;
}
#About .introduce ul li .text {
  font-feature-settings: "palt";
}
#About .introduce ul li .text .image figcaption {
  margin-top: 0.5em;
  font-size: 0.75em;
  letter-spacing: 0.15em;
  line-height: 1.8571em;
}
#About .introduce ul li .text .section-inner p:nth-of-type(1) {
  margin-top: 1.8571em;
}
#About .introduce ul li .text p:nth-child(2) {
  margin-top: 1.8571em;
}
#About .introduce ul li .text img {
  border-radius: 1rem;
}
#About .introduce ul li .text:nth-child(1) {
  margin-top: 1.8571em;
}
#About .introduce .video {
  margin-bottom: 2.125em;
  margin-top: 1.5em;
}
#About .introduce .video h3 {
  margin-bottom: 0;
}
#About .introduce .video .video-cover {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0px;
  position: relative;
  margin-top: 3rem;
}
#About .introduce .video .video-cover iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

#History {
  background-color: #faf8f2;
  padding-bottom: 3rem;
}
#History .page-header {
  margin-bottom: 3rem;
  background-image: url("../img/page-header-history.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #History .page-header {
    background-image: url("../img/page-header-history@2x.jpg");
  }
}
#History .section {
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 2rem;
}
#History .section + .section {
  margin-top: 3rem;
}
#History .section p {
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

#Products .page-header {
  background-image: url("../img/page-header-products.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #Products .page-header {
    background-image: url("../img/page-header-products@2x.jpg");
  }
}

#Media .page-header {
  background-image: url("../img/page-header-media.jpg");
  border: 1px solid #ebebeb;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #Media .page-header {
    background-image: url("../img/page-header-media@2x.jpg");
  }
}
#Media .page-header h2 {
  color: #2d2d2d;
}
#Media .media-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
#Media .media-list dt {
  margin-bottom: 0.5em;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
}
#Media .media-list dt img {
  border-radius: 1rem;
}
#Media .media-list dd {
  line-height: 1.5em;
  letter-spacing: 0.15em;
}
#Media .media-list dd.media-date {
  margin-bottom: 0.5em;
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 0.625em;
  color: #000;
}
#Media .media-list dd.media-title {
  font-size: 0.75em;
  text-decoration: underline;
  color: #000;
}

#Business .page-header {
  background-image: url("../img/page-header-business.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #Business .page-header {
    background-image: url("../img/page-header-business@2x.jpg");
  }
}
#Business .section p, #Business .section .caution {
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
#Business .section .caution {
  margin: 1.5em 0 3.5em 1em;
  font-size: 0.75em;
  line-height: 1.8em;
  letter-spacing: 0.15em;
  text-indent: -1em;
  color: #555;
}
#Business .section .caution li + li {
  margin-top: 0.5em;
}
#Business .catalogue {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
  padding: 3rem 1.5rem 4rem;
  background-color: #faf8f2;
}
#Business .catalogue dt {
  margin-bottom: 1em;
  font-size: 1.125em;
  text-align: center;
  color: #e9400b;
}
#Business .catalogue dd {
  text-align: center;
}
#Business .catalogue dd p {
  margin-bottom: 1.5em;
  text-align: justify;
  letter-spacing: 0.1em;
}
#Business .catalogue dd .pdf {
  font-size: 0.875em;
  letter-spacing: 0.15em;
  text-decoration: underline;
}
#Business .catalogue dd .pdf::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.1rem;
  width: 0.8571em;
  height: 1.1428em;
  margin-right: 0.3em;
  background-image: url("../img/pdf-logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#Contact .page-header {
  background-image: url("../img/page-header-contact.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #Contact .page-header {
    background-image: url("../img/page-header-contact@2x.jpg");
  }
}
#Contact .form-box {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
}
#Contact .form-box .wpcf7-form dl {
  width: calc(100% - 4.5rem);
  max-width: 42rem;
  margin: 0 auto;
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 0.8125em;
}
#Contact .form-box .wpcf7-form dl + dl {
  margin-top: 3rem;
}
#Contact .form-box .wpcf7-form dl + p {
  display: block;
  position: relative;
  width: 56.8115%;
  height: 2.5714em;
  margin: 3rem auto;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 1.2857em;
  font-size: 0.875em;
  line-height: 2.5714em;
  text-align: center;
  color: #e9400b;
}
#Contact .form-box .wpcf7-form dl + p::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 1.2857em;
  transform: translateY(-50%);
  width: 1.3em;
  height: 1em;
  background-image: url("../img/icon_arrow-orn.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
#Contact .form-box .wpcf7-form dl + p:hover {
  background-color: #e9400b;
  border: 1px solid #e9400b;
}
#Contact .form-box .wpcf7-form dl + p:hover .wpcf7-submit,
#Contact .form-box .wpcf7-form dl + p:hover .wpcf7-confirm,
#Contact .form-box .wpcf7-form dl + p:hover .wpcf7-back {
  color: #fff;
}
#Contact .form-box .wpcf7-form dl + p:hover::after {
  background-image: url("../img/icon_arrow-wht.svg");
}
#Contact .form-box .wpcf7-form dl + p .wpcf7-submit,
#Contact .form-box .wpcf7-form dl + p .wpcf7-confirm,
#Contact .form-box .wpcf7-form dl + p .wpcf7-back {
  display: block;
  margin: 0 auto;
  background: none;
  border: none;
  font-size: inherit;
  line-height: 2.5714em;
  color: #e9400b;
}
#Contact .form-box .wpcf7-form dl dt {
  margin-bottom: 0.5rem;
  letter-spacing: 0.1em;
}
#Contact .form-box .wpcf7-form dl dt.required::after {
  content: "必須";
  display: inline-block;
  margin-left: 1em;
  padding: 0 0.5em;
  background-color: #e9400b;
  border-radius: 0.5rem;
  font-size: 0.625em;
  line-height: 1.8em;
  color: #fff;
}
#Contact .form-box .wpcf7-form dl dd {
  padding: 1rem 2rem;
  background-color: #fff7f5;
  border-radius: 1rem;
  line-height: 3rem;
}
#Contact .form-box .wpcf7-form dl dd textarea,
#Contact .form-box .wpcf7-form dl dd input[type=text],
#Contact .form-box .wpcf7-form dl dd input[type=email],
#Contact .form-box .wpcf7-form dl dd input[type=tel] {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: inherit;
  line-height: 2rem;
  resize: none;
}
#Contact .form-box .wpcf7-form .reCAPTCHA_branding {
  font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1rem;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  color: #ccc;
  text-align: center;
}
#Contact .form-box .wpcf7-form .reCAPTCHA_branding a {
  color: #ccc;
  text-decoration: underline;
}

@media only screen and (min-width:1280px) {
  html {
    font-size: 62.5%;
  }
  /* Common */
  a.btn {
    max-width: 30rem;
    height: 3.25em;
    border-radius: 1.625em;
    font-size: 1em;
    line-height: 3.25em;
  }
  a.btn::after {
    right: 1.5em;
    width: 2rem;
    height: 1em;
  }
  a.shop {
    max-width: 32.6rem;
    letter-spacing: 0;
  }
  a.shop::before {
    top: 0.2rem;
    width: 2.2rem;
    height: 1.817rem;
  }
  .drawer--top button.drawer-hamburger {
    display: none;
  }
  .drawer--top nav.drawer-nav {
    position: relative;
    max-width: 90rem;
    margin: 0;
    padding-top: 0;
    opacity: 1;
    z-index: 0;
    pointer-events: all;
  }
  .drawer--top nav.drawer-nav ul.drawer-menu {
    display: flex;
    background-color: transparent;
  }
  .drawer--top nav.drawer-nav ul.drawer-menu li {
    padding: 0;
    margin-right: 4rem;
    border-bottom: none;
  }
  .drawer--top nav.drawer-nav ul.drawer-menu li:last-child {
    margin-right: 0;
  }
  .drawer--top nav.drawer-nav ul.drawer-menu li a {
    font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    line-height: 8rem;
  }
  .drawer--top nav.drawer-nav ul.drawer-menu li a:hover {
    color: #e9400b;
  }
  .logo dl dt {
    width: 3rem;
  }
  .logo dl dd {
    width: 15.2rem;
  }
  .inner {
    max-width: 94rem;
  }
  .inner .page-header {
    max-height: 55rem;
  }
  .inner .page-header h2 {
    left: 4.5rem;
    bottom: 4.5rem;
    font-size: 3em;
  }
  .inner .overview {
    display: flex !important;
  }
  .section {
    padding: 8rem 0;
  }
  .section h1 {
    font-size: 3em;
    line-height: 1.2916em;
    margin-bottom: 0;
  }
  .section h3 {
    margin-bottom: 0;
  }
  .section p {
    font-size: 1em;
    line-height: 1.8em;
  }
  .section p + p {
    margin-top: 1.8em;
  }
  .section p.text {
    font-size: 1em;
  }
  .section p.text a {
    text-decoration: underline;
    color: #448ad3;
  }
  .section .inner .video {
    margin-top: 7rem;
  }
  .section .section-title {
    font-size: 1.75em;
    margin-top: 0;
    letter-spacing: 0.15em;
  }
  .section .section-title::before {
    width: 1.4rem;
    height: 1.4rem;
    top: -2.8rem;
  }
  .section .products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem 4rem;
  }
  .section .products-list li {
    padding: 0;
  }
  .section .products-list li + li {
    margin-top: 0;
  }
  .section .products-list li img {
    height: 42rem;
    border-radius: 1rem 1rem 0 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section .products-list li figcaption {
    margin-top: 3.45rem;
    padding: 0 2rem 3rem;
  }
  .section .products-list li figcaption dt {
    font-size: 1.25em;
  }
  .section .products-list li figcaption dd p {
    font-size: 1em;
  }
  header {
    height: 8rem;
    border-bottom: 1px solid #ebebeb;
  }
  header .header-inner {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 12rem);
    max-width: 132.4rem;
  }
  header .header-inner .header-logo {
    width: 19rem;
    margin-top: 2.5rem;
  }
  main {
    margin-top: 8rem;
    padding-top: 5rem;
  }
  footer {
    padding-top: 9rem;
    padding-bottom: 1rem;
  }
  footer .footer-inner {
    position: relative;
  }
  footer .footer-inner .pr-box {
    padding: 3.4rem;
  }
  footer .footer-inner .news .rss-box ul.rss-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6.4rem 10rem;
    margin: 4.4rem 0 5rem;
  }
  footer .footer-inner .news .rss-box ul.rss-list li.item + li {
    margin-top: 0;
  }
  footer .footer-inner .news .rss-box ul.rss-list li.item:nth-child(n+4) {
    display: block;
  }
  footer .footer-inner .news .rss-box ul.rss-list li.item a .rss-date {
    margin-bottom: 1rem;
    font-size: 0.875em;
  }
  footer .footer-inner .news .rss-box ul.rss-list li.item a .rss-title {
    font-size: 1em;
  }
  footer .footer-inner .footer-logo {
    width: 34.7872%;
    max-width: 32.7rem;
    margin-top: 5rem;
  }
  footer .footer-inner .footer-logo dl dt {
    width: 5rem;
  }
  footer .footer-inner .footer-logo dl dd {
    width: 26.3rem;
  }
  footer .footer-inner .ft-menu,
footer .footer-inner .sns-menu {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    position: relative;
    left: 52.5531%;
    width: 47.4468%;
    margin: 0;
  }
  footer .footer-inner .ft-menu li:first-child,
footer .footer-inner .sns-menu li:first-child {
    width: 65.47%;
  }
  footer .footer-inner .ft-menu li a,
footer .footer-inner .sns-menu li a {
    font-size: 1em;
  }
  footer .footer-inner .ft-menu {
    top: -5rem;
    height: 7em;
  }
  footer .footer-inner .ft-menu li + li {
    margin-top: 2em;
  }
  footer .footer-inner .ft-menu li:nth-child(4) {
    margin-top: 0;
  }
  footer .footer-inner .sns-menu {
    top: calc(-5rem + 2em);
    height: 1em;
  }
  footer .footer-inner .sns-menu li + li {
    margin-top: 0;
  }
  footer .footer-inner .copyright {
    display: inline-block;
    position: relative;
    top: -5rem;
  }
  /* front-page */
  .toppage {
    padding: 0;
  }
  .toppage .mv {
    margin-bottom: 7.7rem;
  }
  .toppage .mv .mv-inner .bx-wrapper .bx-viewport {
    height: 65rem !important;
  }
  .toppage .mv .mv-inner .bx-wrapper .bx-viewport .carousel li img {
    height: 65rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .toppage .mv .mv-inner .bx-wrapper .bx-viewport .carousel li:nth-child(5) img {
    -o-object-position: 0 10%;
       object-position: 0 10%;
  }
  .toppage .mv .mv-inner .bx-wrapper .bx-controls {
    position: relative;
    width: calc(100% - 12rem);
    max-width: 132.4rem;
    margin: 0 auto;
  }
  .toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-prev,
.toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
    width: 4.6rem;
    height: 4.6rem;
  }
  .toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-prev::before,
.toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-next::before {
    width: 1.2rem;
    height: 1.8rem;
  }
  .toppage .mv .mv-inner .bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
    right: 4.9rem;
  }
  .toppage .mv .mv-inner h1 {
    position: absolute;
    width: 100%;
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
    color: #fff;
    text-shadow: 0 0 20px #c6c6c6;
    text-align: center;
  }
  .toppage .concept {
    padding: 0;
    background-image: url("../img/bg-bread-l-pc.png"), url("../img/bg-bread-r-pc.png");
    background-position: left center, right center;
    background-size: contain, contain;
  }
  /* sub-page */
}
@media only screen and (min-width:1280px) and (-webkit-min-device-pixel-ratio: 2) {
  .toppage .concept {
    background-image: url("../img/bg-bread-l-pc@2x.png"), url("../img/bg-bread-r-pc@2x.png");
  }
}
@media only screen and (min-width:1280px) {
  .toppage .concept .inner {
    max-width: 55rem;
    text-align: justify;
  }
  .toppage .concept .inner p {
    display: inline;
    font-size: 1.75em;
    letter-spacing: 0;
    color: #2d2d2d;
  }
  .toppage .concept .inner p + p {
    margin-top: 0;
  }
}
@media only screen and (min-width:1280px) {
  .toppage .products-list {
    margin: 4rem auto 6rem;
  }
}
@media only screen and (min-width:1280px) {
  .toppage .kodawari-summary dd,
.toppage .kodawari-list p,
.toppage .roots-list p {
    font-size: 1em;
    line-height: 1.8em;
  }
}
@media only screen and (min-width:1280px) {
  .toppage .kodawari-list li,
.toppage .roots-list li {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
  }
  .toppage .kodawari-list li:nth-child(2n),
.toppage .roots-list li:nth-child(2n) {
    flex-flow: row-reverse;
  }
  .toppage .kodawari-list li .text,
.toppage .roots-list li .text {
    width: 47.5%;
  }
  .toppage .kodawari-list li .text h3,
.toppage .roots-list li .text h3 {
    margin-bottom: 2rem;
  }
  .toppage .kodawari-list li .image,
.toppage .roots-list li .image {
    width: 47.5%;
    margin-top: 0;
  }
  .toppage .kodawari-list li .image img,
.toppage .roots-list li .image img {
    height: 18rem;
  }
}
@media only screen and (min-width:1280px) {
  .toppage .kodawari .kodawari-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    padding: 6rem 5rem 6rem 4.2rem;
  }
  .toppage .kodawari .kodawari-summary dt {
    width: 32%;
    margin-bottom: 0;
  }
  .toppage .kodawari .kodawari-summary dd {
    width: 66%;
  }
}
@media only screen and (min-width:1280px) {
  .toppage .roots-list li {
    align-items: flex-start;
  }
  .toppage .roots-list li + li {
    margin-top: 10rem;
  }
  .toppage .roots-list li .image img {
    height: 28rem;
  }
}
@media only screen and (min-width:1280px) {
  #About .section:nth-child(3) {
    padding-top: 0;
  }
  #About .concept {
    display: flex;
    justify-content: space-between;
  }
  #About .concept .section-inner {
    width: 49%;
  }
  #About .concept .section-inner p {
    font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  #About .concept .section-inner .btn {
    width: 32rem;
    margin: 3rem 0 0;
  }
  #About .yokanpan {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #About .yokanpan h1 {
    width: 41.8567rem;
  }
  #About .yokanpan .section-inner {
    width: 49%;
  }
  #About .list li {
    font-size: 1em;
    line-height: 1.375em;
    letter-spacing: 0.15em;
  }
  #About .overview .inner {
    display: flex;
    justify-content: space-between;
  }
  #About .overview .section-title {
    width: 20%;
    margin-left: 0;
  }
  #About .overview .section-inner {
    display: grid;
    grid-template-columns: 48% 44%;
    grid-gap: 4.4rem;
    width: 80%;
  }
  #About .overview .section-inner .overview-list {
    width: auto;
    margin: 0;
    padding: 1rem 0;
  }
  #About .overview .section-inner .overview-list:first-of-type {
    border-right: 1px solid #2d2d2d;
  }
  #About .overview .section-inner .overview-list:first-of-type dl {
    grid-template-columns: 11% 83%;
  }
  #About .overview .section-inner .overview-list + ul {
    margin-top: 0;
  }
  #About .overview .section-inner .overview-list + ul dl {
    grid-template-columns: 24% 68%;
  }
  #About .overview .section-inner .overview-list dl {
    grid-gap: 0 2.6rem;
  }
  #About .overview .section-inner .overview-list dl dd {
    font-family: "FP-こぶりなゴシック StdN W3", "FP-KoburinaGoStdN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  #About .history {
    display: flex;
    justify-content: space-between;
  }
  #About .history .section-title {
    width: 10%;
  }
  #About .history .section-inner {
    display: grid;
    grid-template-columns: 48.77% 46.31%;
    grid-gap: 3.8rem;
    width: 82.234%;
  }
  #About .history .section-inner .history-list {
    margin-top: 0;
  }
  #About .history .section-inner .history-list + ul {
    margin-top: 0;
  }
  #About .history .section-inner .history-list li + li {
    margin-top: 3rem;
  }
  #About .introduce ul {
    margin-top: 6rem;
  }
  #About .introduce ul li .text {
    display: flex;
    justify-content: space-between;
    font-feature-settings: "palt";
  }
  #About .introduce ul li .text .image {
    width: 48%;
  }
  #About .introduce ul li .text .image > p {
    margin-top: 0.5em !important;
    font-size: 0.75em;
  }
  #About .introduce ul li .text .section-inner {
    width: 47%;
  }
  #About .introduce ul li .text .section-inner p:nth-of-type(1) {
    margin-top: 0;
  }
  #About .introduce ul li .text p:nth-child(2) {
    margin-top: 1.8571em;
  }
  #About .introduce ul li .text img {
    border-radius: 1rem;
  }
  #About .introduce ul li .text:nth-child(1) {
    margin-top: 3.7142em;
  }
  #About .introduce ul li:nth-child(2) .text {
    flex-direction: row-reverse;
  }
  #About .introduce .video {
    margin-bottom: 8rem;
    margin-top: 2.5em;
  }
}
@media only screen and (min-width:1280px) {
  #History {
    padding-bottom: 18.5rem;
  }
  #History .page-header {
    margin-bottom: 9.5rem;
  }
  #History .section {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }
  #History .section h3 {
    width: 33%;
  }
  #History .section .section-inner {
    width: 66%;
  }
}
@media only screen and (min-width:1280px) {
  #Media .text {
    text-align: center;
  }
  #Media .media-list {
    margin-top: 4rem;
    grid-gap: 4rem;
  }
  #Media .media-list dt {
    margin-bottom: 2rem;
  }
  #Media .media-list dd {
    line-height: 1.5em;
    letter-spacing: 0.15em;
  }
  #Media .media-list dd.media-date {
    margin-bottom: 1em;
    font-size: 0.875em;
  }
  #Media .media-list dd.media-title {
    font-size: 1em;
    text-decoration: underline;
    color: #000;
  }
}
@media only screen and (min-width:1280px) {
  #Business .section h1 {
    font-size: 1.5em;
    line-height: 1.25em;
    margin-bottom: 2rem;
  }
  #Business .section p {
    font-size: 1em;
  }
  #Business .section .caution {
    margin: 1.5em 0 3.5em 1em;
    font-size: 0.875em;
    line-height: 1.8em;
    letter-spacing: 0.15em;
    text-indent: -1em;
    color: #555;
  }
  #Business .section .caution li + li {
    margin-top: 0.5em;
  }
  #Business .catalogue {
    width: 100%;
    margin-left: 0;
    padding: 4rem;
  }
  #Business .catalogue dt {
    margin-bottom: 1em;
  }
  #Business .catalogue dd {
    max-width: 37.5rem;
    margin: 0 auto;
  }
  #Business .catalogue dd .pdf {
    font-size: 1em;
  }
  #Business .catalogue dd .pdf::before {
    top: 0.2rem;
    width: 1em;
    height: 1.3331em;
  }
}
@media only screen and (min-width:1280px) {
  #Contact .form-box {
    width: 100%;
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */