@charset "UTF-8";
@import url(../css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: calc(100vw / 37.5); }

body {
  position: relative;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #010a10;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f1e9;
  word-wrap: break-word;
  overflow-wrap: break-word; }

a {
  text-decoration: none;
  outline: 0 solid transparent;
  color: #010a10;
  transition: all 0.3s; }
  a.move {
    position: relative; }
    a.move::after {
      content: url("../img/arrow_right_wht.svg");
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      width: 1.181rem;
      transition: all 0.3s; }
  a.btn {
    display: block;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
    color: #fff; }

h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.3333em;
  letter-spacing: 0.05em; }

h3 {
  margin: 3rem 0 2rem;
  font-size: 1.25em;
  font-weight: 700;
  color: #c10206; }

.only_pc {
  display: none; }

.card {
  width: calc(100% - 3rem);
  margin: 0 auto;
  padding: 1rem;
  background-color: #eae5d6; }
  .card .card-inner .wrap {
    border-radius: 1rem 1rem 0 0;
    background-color: #fff;
    padding: 2rem; }

.marker {
  display: inline-block;
  margin-bottom: 1rem;
  background: linear-gradient(transparent 70%, #f2dd3c 75%);
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.4444em; }

.kadomaru {
  border-radius: 1rem; }

.caution {
  font-size: 0.875em; }

.drawer--top button.drawer-hamburger {
  position: absolute;
  top: 30%;
  right: 1.5rem;
  width: 3rem;
  padding: 0; }
  .drawer--top button.drawer-hamburger .sr-only {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 1em 0 0;
    font-family: "Lato", sans-serif;
    font-size: 0.9rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.061em; }
  .drawer--top button.drawer-hamburger .drawer-hamburger-icon {
    margin-top: 6px; }
    .drawer--top button.drawer-hamburger .drawer-hamburger-icon::after {
      top: -6px;
      height: 2px;
      border-radius: 1px; }
    .drawer--top button.drawer-hamburger .drawer-hamburger-icon:before {
      top: 6px;
      height: 2px;
      border-radius: 1px; }
.drawer--top nav.drawer-nav {
  width: 100%;
  z-index: -1; }
  .drawer--top nav.drawer-nav ul.drawer-menu li {
    border-bottom: 1px solid #f4f1e9; }
    .drawer--top nav.drawer-nav ul.drawer-menu li:last-child a:hover::before {
      content: url("../img/icon_fb-wht.svg"); }
    .drawer--top nav.drawer-nav ul.drawer-menu li:last-child a::before {
      position: relative;
      top: 0.3rem;
      left: -1rem;
      display: inline-block;
      content: url("../img/icon_fb-blk.svg"); }
    .drawer--top nav.drawer-nav ul.drawer-menu li a {
      display: block;
      min-height: 7rem;
      background-color: #fff;
      font-size: 0.9375em;
      font-weight: 700;
      line-height: 7rem;
      text-align: center; }
      .drawer--top nav.drawer-nav ul.drawer-menu li a:hover {
        background-color: #c10206;
        color: #fff; }
      .drawer--top nav.drawer-nav ul.drawer-menu li a .fb {
        position: relative;
        font-family: "Lato", sans-serif;
        font-weight: 700; }

.drawer--top.drawer-open button.drawer-hamburger {
  right: 1.5rem; }
  .drawer--top.drawer-open button.drawer-hamburger .drawer-hamburger-icon::after {
    top: 0; }
  .drawer--top.drawer-open button.drawer-hamburger .drawer-hamburger-icon:before {
    top: 0; }
.drawer--top.drawer-open .drawer-nav {
  top: 6rem !important; }
.drawer--top.drawer-open .drawer-overlay {
  z-index: 5;
  background-color: rgba(245, 245, 245, 0.6); }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  header .inner {
    position: relative;
    width: 100%;
    height: 6rem;
    padding: 1.5rem 2rem 0.7rem;
    background-color: #f4f1e9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 2; }
    header .inner .logo {
      display: block;
      width: 17.3913%;
      max-width: 9rem; }

main {
  margin-top: 6rem;
  margin-bottom: 3rem; }
  main .section {
    margin: -6rem auto 0;
    padding-top: 8rem; }
  main .page-title {
    margin-bottom: 1rem;
    background-color: #eae5d6;
    line-height: 4.3333em;
    text-align: center; }
  main .contents {
    width: calc(100% - 4rem);
    margin: 0 auto; }
    main .contents .menu li a {
      display: block;
      padding-left: 0.2em;
      font-size: 0.875em;
      font-weight: 700;
      line-height: 6rem;
      border-bottom: 2px dotted #010a10; }
      main .contents .menu li a.move::after {
        content: url("../img/arrow_right_blk.svg");
        right: 1rem; }
    main .contents .content {
      position: relative; }
      main .contents .content::after {
        content: url("../img/kagura.svg");
        display: block;
        position: relative;
        top: 0;
        left: 22.4853%;
        transform: rotate(-10deg);
        width: 42.7653%;
        margin-top: 3.1rem; }
      main .contents .content .qa + .qa {
        margin-top: 1rem; }
      main .contents .content .qa .q {
        cursor: pointer;
        position: relative;
        margin-bottom: 1rem;
        padding: 2rem;
        background-color: #fff;
        filter: drop-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
        font-size: 1.125em;
        font-weight: 700;
        line-height: 1.5555em; }
        main .contents .content .qa .q::before {
          content: "Q";
          display: inline-block;
          position: relative;
          top: -0.3rem;
          width: 2.4em;
          height: 2.4em;
          margin-right: 0.5em;
          background-color: #c10206;
          border-radius: 50%;
          font-size: 1rem;
          font-weight: 700;
          line-height: 2.4em;
          text-align: center;
          color: #fff; }
      main .contents .content .qa .a {
        display: none;
        padding: 0 1rem;
        font-feature-settings: "palt";
        line-height: 1.75em;
        text-align: justify; }
        main .contents .content .qa .a a {
          color: #c10206;
          text-decoration: underline; }
        main .contents .content .qa .a.stay {
          display: block; }
      main .contents .content .p {
        padding: 0 2rem; }
        main .contents .content .p p {
          margin-bottom: 1em;
          line-height: 1.75em; }
          main .contents .content .p p.burasage {
            position: relative;
            margin-left: 1.5em;
            text-indent: -0.75em; }
            main .contents .content .p p.burasage::before {
              content: "○";
              display: inline-block;
              position: relative;
              margin-right: 0.5em; }
            main .contents .content .p p.burasage span {
              padding-left: 1em; }
          main .contents .content .p p a {
            color: #c10206;
            text-decoration: underline; }
          main .contents .content .p p span {
            display: block;
            padding-left: 2.5em;
            font-size: 0.8em; }

footer {
  background: linear-gradient(180deg, #f4f1e9 0%, #f4f1e9 35%, #6E6558 35%, #6E6558 100%);
  text-align: center; }
  footer h2 {
    position: relative;
    margin-bottom: 2rem; }
    footer h2::before {
      content: url("../img/dot_slash_red.svg");
      display: block;
      position: absolute;
      left: 2rem;
      bottom: -0.7rem;
      transform: scale(-1, 1);
      width: 2rem; }
    footer h2::after {
      content: url("../img/dot_slash_red.svg");
      display: block;
      position: absolute;
      right: 2rem;
      bottom: -0.7rem;
      width: 2rem; }
  footer .subscribe {
    border-radius: 1rem; }
  footer .image {
    margin-bottom: 3rem; }
    footer .image ul {
      width: calc(100% + 1rem);
      display: flex;
      justify-content: space-between; }
      footer .image ul li span {
        display: block;
        position: relative;
        left: 50%;
        bottom: 1em;
        transform: translateX(-50%);
        width: 6.3rem;
        border-radius: 2em;
        font-size: 0.75em;
        font-weight: 700;
        line-height: 2.1666em;
        text-align: center;
        color: #fff; }
      footer .image ul li:first-child {
        width: 38.3050%;
        margin-right: 2.4rem; }
        footer .image ul li:first-child span {
          background-color: #c10206; }
      footer .image ul li:nth-child(2) {
        width: 6.8542%; }
        footer .image ul li:nth-child(2) img {
          position: relative;
          top: 42%;
          transform: translateY(-50%); }
      footer .image ul li:last-child {
        width: 39.1728%; }
        footer .image ul li:last-child img {
          transform: rotate(7deg); }
        footer .image ul li:last-child span {
          left: 40%;
          background-color: #20723c; }
  footer .text .price {
    margin-bottom: 1.5rem;
    padding: 0; }
    footer .text .price dd {
      font-size: 0.875em; }
      footer .text .price dd strong {
        display: block;
        margin-bottom: 0.6em;
        font-size: 1.4285em;
        font-weight: 700; }
        footer .text .price dd strong span {
          display: inline-block;
          margin-right: 0.2em;
          font-size: 2.65em;
          font-weight: 900;
          font-style: italic; }
  footer .text .apply {
    margin-bottom: 2rem; }
    footer .text .apply .btn-list {
      margin-bottom: 0.5rem; }
      footer .text .apply .btn-list li + li {
        margin-top: 1rem; }
      footer .text .apply .btn-list li a {
        width: 80.7017%;
        margin: 0 auto;
        background-color: #c10206; }
  footer .text .shipping {
    width: calc(100% + 1.5rem);
    margin-left: -0.75rem;
    background-color: #f4f1e9; }
    footer .text .shipping dl {
      background-color: inherit;
      padding: 1.75rem; }
      footer .text .shipping dl dt {
        margin-bottom: 2rem;
        line-height: 2.8437em;
        border-bottom: 1px dotted #707070;
        text-align: center; }
      footer .text .shipping dl dd {
        font-size: 0.875em;
        line-height: 1.4285em;
        text-align: left; }
  footer .totop {
    width: 19.88%;
    margin: 3.5rem auto; }
    footer .totop a {
      display: block; }
  footer .inner .ft_info .ft_logo {
    display: block;
    width: 57.8666%;
    margin: 0 auto 3rem; }
  footer .inner .ft_info .ft_menu li + li {
    margin-top: 1em; }
  footer .inner .ft_info .ft_menu li a {
    font-size: 0.875em;
    color: #fff; }
  footer .inner .fb-area {
    width: calc(100% - 4rem);
    margin: 3rem auto; }
  footer .copyright {
    font-size: 0.875em;
    color: #fff;
    padding: 3rem 0; }

.toppage .section + .section {
  margin-top: 7.5rem; }
.toppage .section .mv {
  position: relative;
  overflow: hidden; }
  .toppage .section .mv .bx-wrapper {
    width: 107.2%;
    margin-bottom: 2rem;
    border: none;
    background-color: transparent;
    box-shadow: none; }
    .toppage .section .mv .bx-wrapper .bx-pager.bx-default-pager {
      bottom: -1.7rem;
      left: 2rem;
      width: auto;
      padding-top: 0;
      text-align: left; }
      .toppage .section .mv .bx-wrapper .bx-pager.bx-default-pager a {
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.6rem;
        margin-left: 0;
        background-color: #7E7866;
        border-radius: 0.4rem; }
        .toppage .section .mv .bx-wrapper .bx-pager.bx-default-pager a.active {
          background-color: #c10206; }
  .toppage .section .mv .carousel {
    left: 1.5rem; }
    .toppage .section .mv .carousel li {
      margin: 0 0.5rem; }
  .toppage .section .mv .summary {
    position: relative;
    width: calc(100% - 4rem);
    margin: 0 auto 2rem;
    padding-top: 54.9733%;
    background-image: url("../img/mv_map.svg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 69.2835%; }
    .toppage .section .mv .summary .inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .toppage .section .mv .summary .inner h1 {
        width: 59.5582%;
        margin-top: 4%;
        margin-left: 0.2%; }
      .toppage .section .mv .summary .inner .details {
        position: absolute;
        right: 0;
        top: -32.0155%;
        width: 36.4179%; }
        .toppage .section .mv .summary .inner .details > a, .toppage .section .mv .summary .inner .details .price {
          display: none; }
  .toppage .section .mv .feature {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 31.7768%; }
    .toppage .section .mv .feature::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -3rem;
      left: 5.5rem;
      width: 2px;
      height: 3rem;
      background-image: url("../img/dot.svg"); }
    .toppage .section .mv .feature .circle {
      display: block;
      position: relative;
      width: 11rem;
      height: 11rem;
      border-radius: 50%;
      background-color: #c10206;
      font-size: 0.75em;
      font-weight: 700;
      line-height: 11rem;
      text-align: center;
      color: #fff; }
      .toppage .section .mv .feature .circle::before {
        content: "NEW";
        display: block;
        position: absolute;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
        height: 1em;
        font-family: "Lato", sans-serif;
        font-size: 0.8333em;
        color: #F0A5A6; }
      .toppage .section .mv .feature .circle::after {
        content: url("../img/arrow_bottom.svg");
        position: absolute;
        top: 2em;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s; }
.toppage .section .card {
  padding-bottom: 0; }
  .toppage .section .card dt {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eae5d6; }
    .toppage .section .card dt .number {
      font-family: "Lato", sans-serif;
      font-size: 1.375em;
      font-weight: 900;
      letter-spacing: 0.05em;
      color: #c10206; }
      .toppage .section .card dt .number span {
        display: block;
        font-size: 3.2272em;
        font-weight: 900; }
    .toppage .section .card dt .issues {
      margin: 2.4rem 0 0 2rem;
      font-size: 1.125em;
      font-weight: 700;
      line-height: 1.5555em; }
  .toppage .section .card dd {
    padding-top: 1.5rem; }
    .toppage .section .card dd ul li + li {
      margin-top: 2rem; }
    .toppage .section .card dd ul li p {
      font-size: 1.25em; }
    .toppage .section .card dd ul li .local {
      font-size: 0.9375em;
      font-weight: 700; }
    .toppage .section .card dd ul .issues-img {
      display: flex;
      justify-content: space-between; }
      .toppage .section .card dd ul .issues-img p {
        width: 48.2758%; }
  .toppage .section .card a {
    display: block;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
    color: #fff; }
.toppage .section .image {
  position: relative;
  margin-bottom: 2rem; }
.toppage .section .text dt {
  margin-bottom: 1.5rem; }
.toppage .section .text dd {
  line-height: 1.75em; }
.toppage #About {
  width: calc(100% - 4rem); }
  .toppage #About .what {
    margin-bottom: 6rem; }
    .toppage #About .what .image img {
      width: 72.3223%; }
      .toppage #About .what .image img + img {
        width: 41.1940%;
        position: absolute;
        right: 0;
        bottom: -0.5rem; }
    .toppage #About .what .text dt {
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.3333em;
      letter-spacing: 0.05em; }
  .toppage #About .where .image {
    width: calc(100% + 2rem); }
    .toppage #About .where .image::after {
      display: block;
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -32.6797%;
      right: 1rem;
      width: 34.4676%;
      height: 42.9084%;
      background-image: url("../img/about_where_takachihokyou.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    .toppage #About .where .image img {
      border-radius: 1rem 0 0 1rem; }
  .toppage #About .where .text dt::after {
    content: "";
    display: block;
    width: 96.4179%;
    height: 24.411rem;
    margin: 0.5rem auto 1.5rem;
    background-image: url("../img/about_where_map.svg");
    background-repeat: no-repeat;
    background-size: contain; }
  .toppage #About .where .text dt p {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3333em;
    letter-spacing: 0.05em; }
    .toppage #About .where .text dt p::after {
      content: "";
      display: block;
      width: 63.8805%;
      height: 5.3rem;
      margin-top: 1.2rem;
      background-image: url("../img/about_where_title-en.svg");
      background-repeat: no-repeat;
      background-size: contain; }
  .toppage #About .where .text .caution {
    margin-top: 1.4rem;
    font-feature-settings: "palt";
    line-height: 1.4285em;
    letter-spacing: 0.03em;
    text-align: justify;
    text-indent: -1em;
    margin-left: 1em; }
.toppage #Staff {
  background-image: url("../img/staff_bgimg.png");
  background-position: top 19rem center;
  background-repeat: repeat-x; }
  .toppage #Staff .inner {
    width: calc(100% - 4rem);
    margin: 0 auto; }
    .toppage #Staff .inner .image {
      text-align: center; }
      .toppage #Staff .inner .image > img {
        width: 80.6537%; }
      .toppage #Staff .inner .image ul {
        margin-top: -0.6rem; }
      .toppage #Staff .inner .image span {
        display: inline-block;
        margin-top: 1rem;
        padding: 0 1.5em;
        background-color: #f2dd3c;
        border-radius: 2em;
        font-size: 0.8125em;
        font-weight: 700;
        line-height: 2.1538em;
        text-align: center; }
    .toppage #Staff .inner .text {
      text-align: center; }
      .toppage #Staff .inner .text dt {
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.3333em;
        letter-spacing: 0.05em; }
    .toppage #Staff .inner .sns a {
      width: 59.7014%;
      margin: 2.4rem auto;
      background-color: #010a10; }
      .toppage #Staff .inner .sns a::before {
        content: "";
        display: inline-block;
        width: 1.2692em;
        height: 1.2614em;
        margin-right: 0.6428em;
        background-image: url("../img/icon_fb-wht.svg");
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-top: -0.1307em; }
    .toppage #Staff .inner .sns .kagura {
      position: relative;
      top: 0;
      left: 19.2%;
      transform: rotate(-10deg);
      width: 47.8716%; }

@media only screen and (min-width: 560px) {
  html {
    font-size: 62.5%; }

  .card,
  main .contents {
    max-width: 56rem; }

  footer h2 {
    max-width: 56rem;
    margin: 0 auto 2rem; }
  footer .totop {
    max-width: 6.5rem; }
  footer .inner {
    max-width: 56rem;
    margin: 0 auto; }

  .toppage .summary {
    max-width: 56rem; }
  .toppage #About {
    width: 100%; }
    .toppage #About .what {
      width: calc(100% - 3rem);
      max-width: 56rem;
      margin: 0 auto 6rem; }
    .toppage #About .where {
      width: calc(100% - 1.5rem);
      max-width: calc(100% - (50% - 37.975rem));
      margin: 0 0 0 auto;
      padding-left: calc(50% - 37.975rem);
      overflow-x: hidden; }
      .toppage #About .where .image {
        width: 50%;
        margin: 0 0 4rem auto; }
      .toppage #About .where .text {
        margin-top: -40%; }
        .toppage #About .where .text dl dd {
          max-width: 56rem; }
  .toppage #Staff {
    max-width: 56rem; } }
@media only screen and (min-width: 960px) {
  a:hover {
    opacity: 0.7; }
    a:hover.move::after {
      right: 1rem; }

  h2 {
    font-size: 1.75em; }

  .only_pc {
    display: inline-block; }

  .only_sp {
    display: none; }

  .card {
    width: calc(100% - 4rem);
    max-width: none; }
    .card .card-inner .wrap {
      padding: 3.5rem; }

  .drawer--top button.drawer-hamburger {
    display: none; }
  .drawer--top nav.drawer-nav {
    position: absolute;
    top: 4.5rem;
    left: auto;
    right: 6rem;
    z-index: 11;
    width: 67%;
    min-width: 68.3rem;
    background-color: transparent; }
    .drawer--top nav.drawer-nav ul.drawer-menu {
      display: flex;
      justify-content: flex-end; }
      .drawer--top nav.drawer-nav ul.drawer-menu li {
        margin-right: 3.3rem;
        border-bottom: none; }
        .drawer--top nav.drawer-nav ul.drawer-menu li:last-child {
          margin-right: 0; }
          .drawer--top nav.drawer-nav ul.drawer-menu li:last-child a:hover::before {
            content: url("../img/icon_fb-red.svg"); }
          .drawer--top nav.drawer-nav ul.drawer-menu li:last-child a::before {
            top: 0; }
        .drawer--top nav.drawer-nav ul.drawer-menu li a {
          background-color: transparent;
          line-height: 1.5rem;
          min-height: inherit; }
          .drawer--top nav.drawer-nav ul.drawer-menu li a:hover {
            color: #c10206;
            background-color: transparent; }
          .drawer--top nav.drawer-nav ul.drawer-menu li a .fb {
            display: none; }

  header {
    position: relative;
    min-height: 11rem;
    padding: 3.5rem 0 0 0; }
    header .inner {
      width: calc(100% - 12rem);
      min-width: 92rem;
      margin: 0 auto;
      padding: 0;
      background-color: transparent;
      box-shadow: none; }
    header .logo {
      max-width: 20.4rem; }

  main {
    margin-top: 0; }
    main .section {
      width: 100%; }
    main .contents {
      display: flex;
      justify-content: space-between;
      max-width: 99rem;
      margin: 0 auto 20rem; }
      main .contents .menu {
        position: relative;
        width: 22.7272%;
        margin: 0; }
        main .contents .menu::after {
          content: url("../img/qa_kagura.svg");
          display: block;
          position: relative;
          top: 0;
          left: 0;
          width: 83.8622%;
          margin-top: 2.4rem; }
        main .contents .menu li a:hover {
          color: #c10206;
          border-bottom: 2px dotted #c10206; }
          main .contents .menu li a:hover.move::after {
            content: url("../img/arrow_right_red.svg");
            right: 0; }
      main .contents .content {
        position: relative;
        width: 74.2424%; }
        main .contents .content::after {
          display: none; }
        main .contents .content h3 {
          margin: 5rem 0 3rem; }
        main .contents .content .qa + .qa {
          margin-top: 3rem; }
        main .contents .content .qa .a {
          display: none;
          padding: 0 1rem;
          font-feature-settings: "palt";
          line-height: 1.75em;
          text-align: justify; }
          main .contents .content .qa .a a {
            color: #c10206;
            text-decoration: underline; }
          main .contents .content .qa .a.stay {
            display: block; }
        main .contents .content #FAQ1 h3, main .contents .content #A1 h3 {
          margin-top: 0; }

  footer {
    text-align: left; }
    footer h2 {
      max-width: 80.7rem;
      text-align: center; }
    footer .card .card-inner .wrap {
      padding: 5.5rem 0 4.2rem; }
      footer .card .card-inner .wrap dl.subscribe {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 2rem);
        max-width: 99rem;
        margin: 0 auto; }
        footer .card .card-inner .wrap dl.subscribe .image {
          width: 44%;
          margin-bottom: 0; }
        footer .card .card-inner .wrap dl.subscribe .text {
          width: 49%; }
          footer .card .card-inner .wrap dl.subscribe .text .price dd {
            display: inline-block;
            margin-left: 1em; }
            footer .card .card-inner .wrap dl.subscribe .text .price dd strong {
              display: inherit;
              margin-right: 0.8rem; }
          footer .card .card-inner .wrap dl.subscribe .text .apply .btn-list {
            display: flex;
            justify-content: space-between; }
            footer .card .card-inner .wrap dl.subscribe .text .apply .btn-list li {
              width: 47.9166%; }
              footer .card .card-inner .wrap dl.subscribe .text .apply .btn-list li + li {
                margin-top: 0; }
              footer .card .card-inner .wrap dl.subscribe .text .apply .btn-list li a {
                width: 100%; }
          footer .card .card-inner .wrap dl.subscribe .text .apply .caution {
            margin-top: 1rem;
            padding-right: 2em;
            text-align: right; }
          footer .card .card-inner .wrap dl.subscribe .text .shipping {
            width: 100%;
            margin-left: 0; }
            footer .card .card-inner .wrap dl.subscribe .text .shipping dl {
              display: flex;
              justify-content: space-between;
              padding: 0.75rem; }
              footer .card .card-inner .wrap dl.subscribe .text .shipping dl dt {
                width: 20%;
                min-width: 3em;
                margin-bottom: 0;
                border-bottom: none;
                border-right: 1px dotted #707070;
                line-height: 7.5rem; }
              footer .card .card-inner .wrap dl.subscribe .text .shipping dl dd {
                width: 71.3333%;
                padding: 0.75rem 0; }
    footer .totop {
      display: none; }
    footer .inner {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 6rem);
      max-width: 99rem;
      margin: 6.5rem auto 0; }
      footer .inner .ft_info {
        width: 48.4848%; }
        footer .inner .ft_info .ft_logo {
          width: 52.9166%;
          margin: 0 0 3rem; }
        footer .inner .ft_info .ft_menu {
          display: flex;
          flex-flow: column;
          flex-wrap: wrap;
          height: 9em; }
          footer .inner .ft_info .ft_menu li {
            width: 50%; }
            footer .inner .ft_info .ft_menu li:nth-child(6) {
              margin-top: 0; }
      footer .inner .fb-area {
        width: 48.4848%;
        margin: 0; }
    footer .copyright {
      width: calc(100% - 6rem);
      max-width: 99rem;
      margin: 0 auto;
      padding: 0 0 4rem 0;
      text-align: left; }

  .toppage .section + .section {
    margin-top: 0; }
  .toppage .section:first-child {
    margin: 0 auto;
    padding-top: 0; }
    .toppage .section:first-child .mv {
      width: calc(100% - 6.5rem);
      min-height: 53.3rem;
      margin: 0 auto 6.5rem 6.5rem;
      overflow: visible; }
      .toppage .section:first-child .mv .mv_inner {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between; }
        .toppage .section:first-child .mv .mv_inner .bx-wrapper {
          width: 73.4615%;
          height: 50rem;
          margin: 0; }
          .toppage .section:first-child .mv .mv_inner .bx-wrapper .bx-viewport {
            border-radius: 1rem 0 0 1rem; }
          .toppage .section:first-child .mv .mv_inner .bx-wrapper .bx-pager.bx-default-pager {
            left: 37.5144%;
            transform: translateX(-37.5144%); }
        .toppage .section:first-child .mv .mv_inner .carousel {
          left: 75.0289%; }
          .toppage .section:first-child .mv .mv_inner .carousel li {
            max-width: 74rem;
            margin: 0 -2.3rem 0 3.8rem; }
        .toppage .section:first-child .mv .mv_inner .summary {
          flex-shrink: 0;
          width: 24.2307%;
          min-width: 31.5rem;
          margin: 0;
          padding-top: 0;
          background-size: contain;
          background-position: top left; }
          .toppage .section:first-child .mv .mv_inner .summary .inner {
            position: relative; }
            .toppage .section:first-child .mv .mv_inner .summary .inner h1 {
              position: relative;
              width: 87.9365%;
              margin-top: 1rem;
              margin-left: 0; }
              .toppage .section:first-child .mv .mv_inner .summary .inner h1::before {
                content: url("../img/mv_rice.svg");
                display: block;
                width: 26.0577%;
                position: absolute;
                bottom: -4.9rem;
                right: -2.918rem;
                transform: rotate(7deg); }
              .toppage .section:first-child .mv .mv_inner .summary .inner h1::after {
                content: url("../img/mv_tomato.svg");
                display: block;
                width: 15.4765%;
                position: absolute;
                bottom: 0.2rem;
                right: -8.271rem;
                transform: rotate(-3deg); }
            .toppage .section:first-child .mv .mv_inner .summary .inner .details {
              right: auto;
              top: auto;
              bottom: -2.3rem;
              width: 100%; }
              .toppage .section:first-child .mv .mv_inner .summary .inner .details > a, .toppage .section:first-child .mv .mv_inner .summary .inner .details .price {
                display: block; }
              .toppage .section:first-child .mv .mv_inner .summary .inner .details .price dt {
                margin-bottom: 1rem;
                font-size: 1.125em;
                font-weight: 700; }
              .toppage .section:first-child .mv .mv_inner .summary .inner .details .price dd {
                font-size: 0.875em; }
                .toppage .section:first-child .mv .mv_inner .summary .inner .details .price dd strong {
                  display: block;
                  margin-bottom: 1rem;
                  font-size: 1.4285em;
                  font-weight: 700; }
                  .toppage .section:first-child .mv .mv_inner .summary .inner .details .price dd strong span {
                    font-family: "Lato", sans-serif;
                    font-size: 2.65em;
                    font-style: italic;
                    font-weight: 700; }
              .toppage .section:first-child .mv .mv_inner .summary .inner .details a {
                width: 63.4920%;
                margin-top: 2.5rem;
                padding-right: 2rem;
                background-color: #010a10; }
              .toppage .section:first-child .mv .mv_inner .summary .inner .details .sample {
                position: absolute;
                bottom: 0;
                right: -6em;
                width: 50.7936%; }
      .toppage .section:first-child .mv .feature {
        position: absolute;
        bottom: 0;
        right: 14rem;
        width: 10.7692%; }
        .toppage .section:first-child .mv .feature::before {
          bottom: -6.5rem;
          left: 6.9rem;
          height: 6.5rem; }
        .toppage .section:first-child .mv .feature .circle {
          width: 14rem;
          height: 14rem;
          font-size: 0.875em;
          line-height: 14rem; }
          .toppage .section:first-child .mv .feature .circle::before {
            top: -2.2rem;
            height: 1em;
            font-size: 0.8571em; }
          .toppage .section:first-child .mv .feature .circle:hover {
            opacity: 1; }
            .toppage .section:first-child .mv .feature .circle:hover::after {
              top: 3.5rem; }
    .toppage .section:first-child .card-inner .wrap dl {
      display: flex;
      justify-content: space-between;
      max-width: 99rem;
      margin: 0 auto; }
      .toppage .section:first-child .card-inner .wrap dl dt {
        width: 13.9393%;
        flex-flow: column;
        padding-bottom: 0;
        border-bottom: none; }
        .toppage .section:first-child .card-inner .wrap dl dt .number {
          padding-bottom: 1.7rem;
          border-bottom: 1px solid #eae5d6; }
        .toppage .section:first-child .card-inner .wrap dl dt .issues {
          margin: 1.8rem 0 0 0; }
      .toppage .section:first-child .card-inner .wrap dl dd {
        width: 86%;
        padding-top: 0; }
        .toppage .section:first-child .card-inner .wrap dl dd ul {
          display: flex;
          flex-flow: column;
          flex-wrap: wrap;
          justify-content: flex-start;
          height: 20rem; }
          .toppage .section:first-child .card-inner .wrap dl dd ul li.farmer {
            padding-top: 1.2rem;
            padding-bottom: 2.4rem;
            border-bottom: 1px solid #eae5d6; }
          .toppage .section:first-child .card-inner .wrap dl dd ul li.gift {
            padding-top: 1.8rem; }
          .toppage .section:first-child .card-inner .wrap dl dd ul li.issues-img {
            width: 56.3380%;
            margin-left: 3rem; }
          .toppage .section:first-child .card-inner .wrap dl dd ul li + li {
            margin-top: 0; }
    .toppage .section:first-child .card-inner a:hover {
      opacity: 1;
      color: #c10206; }
      .toppage .section:first-child .card-inner a:hover.move::after {
        content: url("../img/arrow_right_red.svg"); }
  .toppage #About {
    width: calc(100% - 4rem);
    margin-top: 1rem; }
    .toppage #About .what {
      display: flex;
      justify-content: space-between;
      max-width: 99rem;
      margin: 0 auto 13rem; }
      .toppage #About .what .image {
        width: 45.2595%; }
      .toppage #About .what .text {
        width: 48.4848%; }
        .toppage #About .what .text dt {
          margin-bottom: 3rem; }
    .toppage #About .where {
      display: flex;
      flex-flow: row-reverse;
      max-width: calc(100% - (50% - 63.285rem));
      padding-left: calc(50% - 63.285rem);
      overflow-x: visible; }
      .toppage #About .where .image {
        width: 48.5660%;
        margin: 0 -2rem 2rem auto; }
        .toppage #About .where .image::after {
          bottom: auto;
          top: -15%;
          right: 10.7369%;
          width: 19.9056%; }
      .toppage #About .where .text {
        width: 43.5332%;
        margin-right: 7.9007%;
        margin-top: 0; }
        .toppage #About .where .text dt {
          position: relative; }
          .toppage #About .where .text dt::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 58.6206%;
            height: 100%;
            margin: 0;
            z-index: -1; }
          .toppage #About .where .text dt h2 {
            font-size: 2.25em;
            line-height: 1.4722em; }
            .toppage #About .where .text dt h2::after {
              width: 49.5462%;
              margin-top: 2rem; }
        .toppage #About .where .text dd {
          max-width: none; }
  .toppage #Staff {
    margin-top: 3rem;
    max-width: none; }
    .toppage #Staff .inner {
      max-width: 99rem;
      margin: 0 auto 15rem; }
      .toppage #Staff .inner .image > img {
        max-width: 27rem; }
      .toppage #Staff .inner .image ul {
        max-width: 44.5rem;
        margin: -0.6rem auto 0; }
      .toppage #Staff .inner .image span {
        max-width: 36rem;
        margin: 4rem auto 3rem;
        border-radius: 2.2em;
        font-size: 0.875em;
        line-height: 2.1428em; }
      .toppage #Staff .inner .sns {
        position: relative;
        width: 78%;
        margin: 0 auto; }
        .toppage #Staff .inner .sns a {
          position: relative;
          max-width: 20rem;
          margin: 3rem auto; }
        .toppage #Staff .inner .sns .kagura {
          position: absolute;
          top: -2.2rem;
          left: -10.368rem;
          width: 16.1989%; } }
@media only screen and (min-width: 1280px) {
  header {
    max-width: 136.6rem;
    margin: 0 auto; }

  .toppage .section:first-child {
    max-width: 136.6rem;
    margin: 0 auto; }

  .card {
    max-width: 136.6rem; } }
